@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&display=swap');

* {
  --clr-accent-main: #e76565;
  --clr-accent-dark: #6b2844;
  --clr-dark-black: #242424;
  font-family: "Rubik", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, var(--clr-accent-main), var(--clr-accent-dark));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 15px;
  /* margin: 15px; */
}

h1 {
  margin-block: 0;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
gap: 5px;
color: #fff;
}

.material-symbols-outlined {
  font-size: 2rem !important;
  transform: rotateZ(-5deg);
  user-select: none;
}

h2 {
  margin-block: 5px;
  font-weight: 700;
}

#notes {
  display: grid;
  /* Four column grid */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: 80px auto 80px;  */
  grid-gap: 20px;
  padding-top: 10px;
  min-height: 40vh;
  /* background: linear-gradient(90deg, var(--clr-accent-main), var(--clr-accent-dark)); */
  /* border: 2px dashed #000000; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  margin-top: 20px;
}

.note {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px 25px;
  min-height: 50px;
  word-wrap: break-word;
  user-select: none;
  transition: background-color 0.2s ease;
}

.note:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}



.delete-note {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  color: white;
  border: none;
  float: right;
  height: 20px;
  width: 20px;
  font-size: 0.75rem;
  padding: 5px;
  border-radius: 30px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.delete-note:hover {
  cursor: pointer;
  background-color: #c00;
}

#noteInput {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 15px 25px;
  /* margin: 10px; */
  min-width: 200px;
  max-width: 200px;
  /* position: absolute; */
  user-select: none;
  transition: background-color 0.2s ease;
  margin-top: 5px;
}

#noteForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#noteForm button {
  background-color: var(--clr-dark-black);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#noteForm button:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--clr-dark-black);
}

hr {
  width: 100%;
  /* border: 1px solid rgb(36, 36, 36); */
  background: linear-gradient(90deg, #00000034 0%, #00000034 10%, #00000000 60%, #00000000 100%);
  height: 5px;
  border: none;
  margin: 20px 0;
  border-radius: 100px;
}

#tabs {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.tab {
  padding: 10px 25px;
  border: 3px solid #ffffffb9;
  color: #fff;
  /* background-color: #ddd; */
  border-radius: 30px 30px 10px 30px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 50px;
  text-align: center;
  font-weight: 400;
}

.tab-create {
  padding: 10px 25px;
  border: 3px solid #ffffffb9;
  color: #000;
  /* background-color: #ddd; */
  border-radius: 30px 30px 10px 30px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.tab:hover {
  background-color: #fff;
  color: var(--clr-dark-black);
}

.tab.selected {
  background-color: #fff;
  color: var(--clr-dark-black);
}

#addTab {
  padding: 5px 25px;
  border: none;
  color: var(--clr-dark-black);
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 50px;
  text-align: center;
  font-weight: 900;
  /* background: none; */
  font-size: 1.5rem;
}

#addTab:hover {
  background-color: var(--clr-dark-black);
  color: #fff;
}